@import "node_modules/govuk-frontend/govuk/_base";
@import "node_modules/govuk-frontend/govuk/components/tabs";

#story--sandbox--default-story #story-root {
  margin: -1em;
  margin-top: -3em;
  .preview-panel {
    position: relative;
    background: repeating-linear-gradient(
      45deg,
      red,
      red 20px,
      white 20px,
      white 40px
    );
    .hods-form {
      padding: 8px;
      margin: -8px;
      background: #ffffffe0;
    }
  }
}

.mb10 {
  margin-bottom: 10px;
}

.edit-json, .edit-data, .edit-ref-data, .show-submission {
  width: 100%;
  height: calc(100vh - 300px);
}

.govuk-tabs__tab {
  cursor: pointer;
}

@media (min-width: 40.0625em) {
  .govuk-tabs__list-item.right {
    float: right;
    margin-right: 0;
  }
}
