@import 'node_modules/govuk-frontend/govuk/_base';
@import 'node_modules/govuk-frontend/govuk/components/summary-list/_summary-list';

.govuk-summary-list__actions {
  .govuk-link {
    color: govuk-colour('blue');
    cursor: pointer;
  }
}

.group-of-rows {
  position:relative;
}
 
.mobile-text{
  text-transform: lowercase;
}

@media screen and (min-width: 640px) {
   .change-group-button {
    position: absolute;
    top: -47px;
    right: 0;
  }

  .mobile-text{
    display:none; 
  }


}

